nav {
    background-color: rgb(0, 0, 0);
}


ul {
    font-family: "chivo mono" monospace;
    display: flex;
    gap: 72px;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transform: 0.5s ease;
}

ul:hover li a {
    color: #30edf4;
}
ul:hover li a:not(:hover) {
    color: white;
    opacity: o.3;
    filter: blur(10px);
}